<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868995065243-3dp8or4cjhndhdt11m2bjc0f80rjbdmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868995065243-3dp8or4cjhndhdt11m2bjc0f80rjbdmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAXlEFzKMA0UIHh0-vDJSpQoVSoQ3meu8U</string>
	<key>GCM_SENDER_ID</key>
	<string>868995065243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatSample</string>
	<key>PROJECT_ID</key>
	<string>flutterchatsample-8b28e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatsample-8b28e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868995065243:ios:fd70c4b4425eab4c762d3e</string>
</dict>
</plist>