<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185064806197-27980r3vfd99vad77mmhpt7gu56ddouo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185064806197-27980r3vfd99vad77mmhpt7gu56ddouo</string>
	<key>API_KEY</key>
	<string>AIzaSyDl8gjzcnKvMyguniIQ7Vw_JyvofDYENwA</string>
	<key>GCM_SENDER_ID</key>
	<string>185064806197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cbnu-alrami.app2</string>
	<key>PROJECT_ID</key>
	<string>cmi-app-b3b92</string>
	<key>STORAGE_BUCKET</key>
	<string>cmi-app-b3b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185064806197:ios:e7a6c229e50bcc84119e7c</string>
</dict>
</plist>